<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@user.picture_url, width: 200) %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% @user.items.group_by(&:category_id).each do |category, items| %>

    <div class="title"><%= Category.find(category).name %></div>
    <hr>
    <% items.each do |item| %>

        <%= render item %>

    <% end %>
<% end %>
