<div class="menu">
  <ul class="menu-list">
    <li><%= link_to 'Items', items_path %></li>
    <% if logged? %>
        <% if logged.admin %>
            <li>
              <%= link_to 'Admin'.html_safe, '#' %>
              <ul class="sub-menu">
                <li><%= link_to 'Categorias', categories_path %></li>
                <li><%= link_to 'Nova Bolacha', new_bolacha_path %></li>
                <li><%= link_to 'Novo Rótulo', new_rotulo_path %></li>
              </ul>
            </li>
        <% end %>
        <li><%= link_to logged.name, logged %></li>
        <li>
          <%= link_to '#' do %>
              <%= image_tag('/images/config-icon.png', width: 32, style: 'vertical-align: middle;') %>
          <% end %>

          <ul class="sub-menu">
            <li><%= link_to 'Sair', user_sessions_path, method: :delete %></li>
          </ul>
        </li>
    <% else %>
        <li><%= link_to 'Cadastre-se', new_user_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
</div>